body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ddd;

  ul {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .nav-item {
    font-size: 20px;

    a {
      transition: all 0.2s;
      &:hover {
        color: #888;
      }
    }
  }

  .nav-item-cart {
    margin-left: auto;
  }
}
