nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

ul {
  padding: 15px 25px;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

li {
  font-size: 20px;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    text-decoration: none;
    color: #888;
  }
}

.nav-item-cart {
  margin-left: auto;
}
